---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
    
    <!-- Project Metadata -->
    <div class="post-meta">
      {% if post.team_size %}<span class="meta-item"><strong>👥Team Size:</strong> {{ post.team_size }}</span> &nbsp;&nbsp;{% endif %}
      {% if post.duration %}<span class="meta-item"><strong>⌛Duration:</strong> {{ post.duration }}</span> &nbsp;&nbsp;{% endif %}
      {% if post.platforms %}<span class="meta-item"><strong>💻Platforms:</strong> {{ post.platforms | join: ", " }}</span> &nbsp;&nbsp;{% endif %}
      {% if post.tags %}<span class="meta-item"><strong>🏷️Tags:</strong> {{ post.tags | join: ", " }}</span>{% endif %}
    </div>
    
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
