---
layout: main
---
{% for post in paginator.posts %}
<a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
<article class="post">
  {% if post.img %}
    <div class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})"></div>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title">{{post.title}}</h2>
    <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
    
    <!-- Project Metadata -->
    <div class="post-meta">
      {% if post.team_size %}
      <span class="meta-item team-size-tooltip">
        <strong>👥Team Size:</strong> {{ post.team_size }}
        {% if post.team_size %}
          {% assign team_size_number = post.team_size | times: 1 %}
            {% if team_size_number > 0 %}
              <div class="tooltip">{% if post.prs or post.dps or post.vas %}{% if post.prs %}🛠️{{post.prs}} {% endif %}{% if post.dps %},🎮{{post.dps}} {% endif %}{% if post.vas %},🎨{{post.vas}}{% endif %}{% endif %}</div>
            {% endif %}
          {% endif %}
      </span> &nbsp;&nbsp;
      {% endif %}
      {% if post.duration %}<span class="meta-item"><strong>⌛Duration:</strong> {{ post.duration }}</span> &nbsp;&nbsp;{% endif %}
      {% if post.platforms %}<span class="meta-item"><strong>💻Platforms:</strong> {{ post.platforms | join: ", " }}</span> &nbsp;&nbsp;{% endif %}
      {% if post.tags %}<span class="meta-item"><strong>🏷️Tags:</strong> {{ post.tags | join: ", " }}</span>{% endif %}
    </div>
    <span class="post-date">{{post.date | date: '%Y'}}&nbsp;</span>
  </div>
</article>
</a>
{% endfor %}

{% include pagination.html %}
